@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Contact";
}

<!--New code-->

<div class="jumbotron">
    <div>
        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                @{Html.RenderPartial("_AreaPartial");}
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="#">New York</a>
                <a class="dropdown-item" href="#">Los Angeles</a>
                <a class="dropdown-item" href="#">San Francisco</a>
            </div>
        </div>
    </div>
    <div>
        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Category
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="#">Brooklyn</a>
                <a class="dropdown-item" href="#">Pike’s Place</a>
                <a class="dropdown-item" href="#">Nob Hill</a>
            </div>
        </div>
    </div>



</div>



<!--New code-->