
@{
    ViewBag.Title = "Home Page";
}

<style>
    .sublinks {
        display: inline;
    }
</style>

<div class="homePageShowArea">

    

  




</div>

<div class="row">
    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 filter">
        <p>
            Lorem ipsum dolor sit amet, equidem similique mea no, iusto cetero interpretaris mei ad. Cu sed modo putent, in pri inani appetere. Vis id quod aperiri necessitatibus. Unum pericula vim no, eu lobortis reformidans mea, ei pro ignota perfecto. An iusto
            placerat sit, id hinc integre elaboraret est. At nec libris definitiones, putent aperiri incorrupte qui ut.
        </p>
    </div>
    <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 dynamic">
        <p>
            Lorem ipsum dolor sit amet, equidem similique mea no, iusto cetero interpretaris mei ad. Cu sed modo putent, in pri inani appetere. Vis id quod aperiri necessitatibus. Unum pericula vim no, eu lobortis reformidans mea, ei pro ignota perfecto. An iusto
            placerat sit, id hinc integre elaboraret est. At nec libris definitiones, putent aperiri incorrupte qui ut.
        </p>
    </div>
</div>